
.katil-button{
    width: 100px;
    height: 37px;
    background-color: black;
    color: rgb(39, 124, 180);
    border: 1px rgb(39, 124, 180) solid;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.same-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }
  .same-button:active {
    background-color: rgb(29, 88, 128);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.same-button{
    width: 170px;
    height: 37px;
    background-color: rgb(39, 124, 180);
    color: black;
    border: 1px black solid;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.primary{
    width: 80px;
    height: 37px;
    color: white;
    background-color: rgb(79, 120, 197);
    border-radius: 5px;
    border:none;
    cursor: pointer;
    
}
.second{
    width: 100px;
    height: 37px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.suc{
    width: 80px;
    height: 37px;
    color: white;
    background-color: rgb(1, 99, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dang{
    width: 80px;
    height: 37px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.warning{
    width: 100px;
    height: 37px;
    color: black;
    background-color: rgb(187, 187, 3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.info{
    width: 50px;
    height: 37px;
    color: black;
    background-color: rgb(88, 212, 171);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.light{
    width: 80px;
    height: 37px;
    color: black;
    background-color: rgb(248, 248, 248);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dark{
    width: 80px;
    height: 37px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
